@font-face {
    font-family: Clutch;
    src: url('/../fonts/clutchsans-regular.otf')
}


@font-face {
    font-family: "Century Gothic";
    src: url('/../fonts/CenturyGothic.ttf')
}

input:focus {
    background: #9D9F9E;
}
.rounded-circle
{
    border:1.5px solid #888888;
}
.bl-r-0 {
    border-bottom-left-radius: 0px!important;
    border-top-left-radius: 0px!important;
}
.bl-r {
    background-color: #F3F3F2;
    border-radius: 50px!important;
}

.b-5 {
    border: 5px solid #fff !important ;
}

.br-r {
    background-color: #F3F3F2;
    border-radius: 50px!important;
}

.cats{
    background-color: #FEFEFE;
}
body {
    background-color: #FEFEFE;
    font-family: "Century Gothic";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 300;

    /*font-family:  Clutch;*/
}
.fs-15 {
    font-size: 15px!important;
}
.text-standard
{
    color:#5b5b5b!important;
}
.fs-20 {
    font-size: 20px!important;
}
.main1{
    background-color: #ebedec;
}
.main2{
    border: 1px solid #5b5b5b;
}
.text-male{
    color:#135168!important;
}
.male1{
    background-color:#c0e4fa!important;
}
.male2
{
    border:1px solid #135168!important;
}
.male3
{
    background-color:#27a8e1!important;
}
.text-female{
    color:#c26343!important;
}
.female1{
    background-color:#f6b9a4!important;
}
.female2
{
    border:1px solid #c26343!important;
}
.female3
{
    background-color:#e19075!important;
}
.text-child{
    color:#6e2b57!important;
}
.child1{
    background-color:#e0b9d8!important;
}
.child2
{
    border:1px solid #6e2b57!important;
}
.child3
{
    background-color:#c46fa8!important;
}


.fs-md-30 {
    font-size: 30px!important;
}

.input-group-addon {
    background: #d9dad9;
    color: #fff;
}

.rounded-circle-our {
   border-radius:35px;
    padding: 5px 10px 5px 10px;
}
.counter{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
img {
    -webkit-user-drag: none;
    user-drag: none;
}
a {
    -webkit-user-drag: none;
    user-drag: none;
}

.content-m {
    margin-top: 59px;
}

.cat {
    height: 150px;
}

.link {
    color: #FEFEFE;
}

.link:hover {
    text-decoration: none;
    color: #FEFEFE;
}


a {
    color: #464646;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.circle {
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

footer {
    background-color: #F3F3F2;
    font-size: 14px;
}
.user-drop
{
    background-color: #ebedec;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
footer a {
    color: #797979;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

footer a:hover {
    color: #ffffff;
}

.nick {
    font-size: 3rem;
    margin: 0px;
}

.f-18 {
    font-size: 18px;
}

.subscribe {
    border: 2px solid #000;
    border-radius: 50px;
}

.fs-10 {
    font-size: 10px;
}

.d-none {
    display: none;
}

#login-page {
}

.form-group{
    width:60%;
}
/*#form-login {*/
    /*background-color: rgba(20, 20, 20, 0.8)!important;*/
/*}*/

#form-login input {
    opacity: 0.6;
}

#form-login input:focus {
    opacity: 1;
}

#sectionRightAndLeft, #containerWithBoutics, #containerWithCenters {
    background-color: #fefefe;
}

.bg-gray {
    background: #d9dad9;
}

#navbar-top {
    background-color: #fff;
}

.container-spec {
    background-color: #fefefe;
}
.icon{
    width: 60px;
    height: 60px;
}
.icon-toggle {
    width: 60px;
    height: 60px;
}

.subscribe {
    font-size: 22px;
}

.slider2{
    margin-top:-70px;
}
#subtypes{
    position:relative;
    background-color:#f1c7b7;
    height:70px;
    width: fit-content;
    border-bottom-left-radius:35px;
    border-bottom-right-radius:35px;
    margin-right: auto;
    padding-top: 6px;
    margin-left: auto;
}
.panelt {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.panelt:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    border-radius:5px;
    background: #dddddd;
    opacity: 1;
}

.logo-ava {
    width: 220px;
    height: 220px;
}
.set{
    margin-left:100px;
}

ul.row.nav.nav-tabs>li {
    border: 1px solid #fff;
}

nav {
    border:2px solid transparent;
}

.fixed-shadow {
    margin-top: 58px;
}


.img-card {
    width: 100%;
    /*height: auto;*/
}

.logo-sub {
    width: 35px;
    height: 35px;
}

#nav-mobile {
    background-color: rgba(7, 54, 66, 0.8);
    position: fixed;
    z-index: 9999;
}

#preloader {
    z-index: 10000;
    background-image: url("/img/logo/fon2.png");
    background-size: cover;
    background-position: center center;
}

.circle-icon {
    position: absolute;
    transform: rotate(25deg);
    right: -20px;
    top: -20px;
    line-height: 34px;
    z-index:555;
    border: 2px solid #fefefe;
}

.price-text{
    font-size: 1.4rem !important;
}
.price-text span{
    font-size: 1.4rem !important;
}


.backdrop {
    display: none;
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    content: "";
    z-index:9997;
}

.comment-bar {
    border-radius: 20px;
    background: #fff;
}

.comment-bar #style-1 {
    overflow: auto;
    height: 200px;
}

#a-products {
    height: 400px;
}

#products {
    height: 400px;
}

.right-some {
    width: 50px;
    height: 50px;
}
@media (max-width: 1024px) {
    .icons {
        width: 20px !important;
        height: 20px !important;
    }

    .logs {
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin: auto !important;
    }

    #sort {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #sort2 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .logo-ava {
        width: 150px;
        height: 150px;
    }

    .ml-md-auto {
        margin-left: 0px !important;
    }

    .mt-md-0 {
        margin-top: 10px !important;
    }


    .col-md-auto {
        width:100%;
    }
    #products {
        height: 240px;
    }

    #a-products {
        height: 240px;
    }
}
@media (min-width: 576px) {
    a.boutic-in-center p {
        opacity: 0;
        margin-top: -150px;
        font-size: 30px;
        font-weight: 600;
        position: relative;
        z-index: 9999;
    }

    a.boutic-in-center img {
        border-radius: 5px;
    }

    a.boutic-in-center:hover img {
        opacity: 0.3;
        border-radius: 50%;
        transition: 0.5s;
    }

    a.boutic-in-center:hover p {
        opacity: 1;
        transition: 0.5s;
    }
}

@media (max-width:576px) {
    .logo-cat {
        width: 30px;
        height: 30px;
    }

    .set{
        margin-left:0px;
    }
    .fs-xs-20 {
        font-size: 20px!important;
    }

    .circle-icon {
        right: -10px;
        top: -10px;
        line-height: 20px;
    }

    .fs-20 {
        font-size: 10px!important;
    }

    h2 {
        font-size: 14px;
        font-weight: 700;
        margin: 0px;
    }

    p {
        font-size: 10px;
    }

    h3 {
        font-size: 12px;
    }

    h4 {
        font-size: 10px;
    }

    .price-text{
        font-size: 20px !important;
    }
    .price-text span{
        font-size: 20px !important;
    }

    #sectionOfCentersAndBoutics a img.rounded-circle {
        width: 50px;
        height: 50px;
        margin-right: -10px;
        margin-left: -10px;
    }

    .nav-link {
        font-size: 9px;
    }

    .nick {
        font-size: 22px;
        font-weight: 600;
    }

    .subscribe {
        font-size: 13px;
    }

    span {
        font-size: 12px;
    }

    .logo-sub {
        width: 18px;
        height: 16px;
    }

    .logo-ava {
        width: 170px;
        height: 170px;
    }



    .badge {
        font-size: 9px;
    }

    nav {
        background-color: #FEFEFE;
    }

    .logo-control {
        width: 15px;
        height: 15px;
    }

    .logo {
        height: 20px;
        width: 72px;
    }
    .logom {
        height: 20px;
        width: 72px;
    }
    .logoc {
        height: 20px;
        width: 72px;
    }
    .logof {
        height: 20px;
        width: 72px;
    }

    .fixed-shadow {
        margin-top: 55px;
    }

    #products {
        height: 160px;
    }

    #a-products {
        height: 160px;
    }

    .content-m {
        margin-top: 54px;
        /*margin-bottom: 54px;*/
    }

    .right-some {
        width: 30px;
        height: 30px;
    }

    .container-spec {
        background-color: #fff;
    }
    .logo-type {
        width: 20px;
        height: 20px;
    }

    a.boutic-in-center img {
        border-radius: 5px;
    }

    .mobile-carousel {
        width: 300px;
        height: 300px;
    }

    #navbar-top {
        background-color: #fff;
    }
    
    #main-modal-text {
        -webkit-transform: translate(5px, -302px);
        -moz-transform: translate(5px, -302px);
        -ms-transform: translate(5px, -302px);
        -o-transform: translate(5px, -302px);
        transform: translate(5px, -302px);
    }

    #premain-modal-text {
        -webkit-transform: translate(15px, -303px);
        -moz-transform: translate(15px, -303px);
        -ms-transform: translate(15px, -303px);
        -o-transform: translate(15px, -303px);
        transform: translate(15px, -303px);
    }
    
    #mobile-carousel-all {
        -webkit-transform: translate(20px, 90px);
        -moz-transform: translate(20px, 90px);
        -ms-transform: translate(20px, 90px);
        -o-transform: translate(20px, 90px);
        transform: translate(20px, 90px);
    }
    
    #close {
        -webkit-transform: scale(0.8, 0.8);
        -moz-transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
        -o-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
}

/*  SPINNER */

#circleG{
    width:52px;
    margin:auto;
}

.circleG{
    background-color:rgb(159,212,236);
    float:left;
    height:11px;
    margin-left:6px;
    width:11px;
    animation-name:bounce_circleG;
    -o-animation-name:bounce_circleG;
    -ms-animation-name:bounce_circleG;
    -webkit-animation-name:bounce_circleG;
    -moz-animation-name:bounce_circleG;
    animation-duration:1.3675s;
    -o-animation-duration:1.3675s;
    -ms-animation-duration:1.3675s;
    -webkit-animation-duration:1.3675s;
    -moz-animation-duration:1.3675s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    border-radius:7px;
    -o-border-radius:7px;
    -ms-border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
}

#circleG_1{
    animation-delay:0.2695s;
    -o-animation-delay:0.2695s;
    -ms-animation-delay:0.2695s;
    -webkit-animation-delay:0.2695s;
    -moz-animation-delay:0.2695s;
}

#circleG_2{
    animation-delay:0.6355s;
    -o-animation-delay:0.6355s;
    -ms-animation-delay:0.6355s;
    -webkit-animation-delay:0.6355s;
    -moz-animation-delay:0.6355s;
}

#circleG_3{
    animation-delay:0.8185s;
    -o-animation-delay:0.8185s;
    -ms-animation-delay:0.8185s;
    -webkit-animation-delay:0.8185s;
    -moz-animation-delay:0.8185s;
}



@keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(138,194,220);
    }

    100%{}
}

@-o-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(138,194,220);
    }

    100%{}
}

@-ms-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(138,194,220);
    }

    100%{}
}

@-webkit-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(138,194,220);
    }

    100%{}
}

@-moz-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(138,194,220);
    }

    100%{}
}


#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
