body {
    background-color: #FEFEFE;
}

.content-m {
    margin-top: 59px;
}

.cat {
    height: 150px;
}

.link {
    color: #FEFEFE;
}

.link:hover {
    text-decoration: none;
    color: #FEFEFE;
}

a {
    color: #464646;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.circle {
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

footer {
    background-color: #D9DBDA;
    font-size: 14px;
}

footer a {
    color: #797979;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

footer a:hover {
    color: #ffffff;
}

.nick {
    font-size: 3rem;
    margin: 0px;
}

.f-18 {
    font-size: 18px;
}

.subscribe {
    border: 2px solid #000;
    border-radius: 50px;
}

#sub:hover> div {
    background-color: #dc3545 !important;
    transition: 1s;
    color: #fff;
}

.d-none {
    display: none;
}

#login-page {
    background-image: url('../img/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#form-login {
    background-color: rgba(20, 20, 20, 0.8)!important;
}

#form-login input {
    opacity: 0.6;
}

#form-login input:focus {
    opacity: 1;
}

#sectionRightAndLeft, #containerWithBoutics, #containerWithCenters {
    background-color: #EBEDEC;
}

nav {
    background-color: #D9DBDA;
}

.container-spec {
    background-color: #EBEDEC;
}

.icon-toggle {
    width: 60px;
    height: 60px;
}

.subscribe {
    font-size: 24px;
}

.logo-ava {
    width: 250px;
    height: 250px;
}

nav {
    background-color: #FEFEFE;
}

.fixed-shadow {
    margin-top: 58px;
}


.img-card {
    width: 100%;
    height: auto;
}

.logo-sub {
    width: 35px;
    height: 30px;
}

@media (min-width: 576px) {
    a.boutic-in-center p {
        opacity: 0;
        margin-top: -150px;
        font-size: 30px;
        font-weight: 600;
        position: relative;
        z-index: 9999;
    }

    a.boutic-in-center img {
        border-radius: 5px;
    }

    a.boutic-in-center:hover img {
        opacity: 0.3;
        border-radius: 50%;
        transition: 0.5s;
    }

    a.boutic-in-center:hover p {
        opacity: 1;
        transition: 0.5s;
    }
}

@media (max-width:576px) {
    .logo-cat {
        width: 30px;
        height: 30px;
    }

    h2 {
        font-size: 14px;
        font-weight: 700;
        margin: 0px;
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 12px;
    }

    h4 {
        font-size: 10px;
    }

    #sectionOfCentersAndBoutics a img.rounded-circle {
        width: 30px;
        height: 30px;
    }

    .nav-link {
        font-size: 9px;
    }

    .nick {
        font-size: 22px;
        font-weight: 600;
    }

    .subscribe {
        font-size: 13px;
    }

    span {
        font-size: 12px;
    }

    .logo-sub {
        width: 18px;
        height: 16px;
    }

    .logo-ava {
        width: 170px;
        height: 170px;
    }



    .badge {
        font-size: 9px;
    }

    nav {
        background-color: #FEFEFE;
    }

    .logo-control {
        width: 15px;
        height: 15px;
    }

    .logo {
        height: 20px;
        width: 72px;
    }

    .fixed-shadow {
        margin-top: 55px;
    }

    .content-m {
        margin-top: 54px;
        margin-bottom: 54px;
    }

    .container-spec {
        background-color: #fff;
    }
    .logo-type {
        width: 20px;
        height: 20px;
    }

    a.boutic-in-center img {
        border-radius: 5px;
    }
}